// LOGO

.logo {
    height: 5rem;
    margin: 3rem auto;
}

// DATE

.date {
    color: var(--color-primary-light-2);
    // font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-top: -2rem;
    text-align: center;
}

//NAVBAR

//NAVBAR - NEWS NAVIGATION
.navbar {
    color: var(--color-primary-light-3);
    border-top: 0.1px solid var(--color-border);
    border-bottom: 0.1px solid var(--color-border);

    
}
.news-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    flex: 0 0 50%;
    margin-left: 12.5rem;

    @include respond(tab-land){
        margin-left: 2rem !important;
        flex: 0 0 50%;

    }

    @include respond(big-desktop){
        margin-left: 35rem !important;
        flex: 0 0 35%;

    }

    &__item {
        
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: currentColor;
        font-size: 1.4rem;
        // font-family: 'Open Sans', sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-left: 0.3rem;
        fill: var(--color-white);
    }
}

//NAVBAR - SETTINGS

.settings-nav {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 15%;
    height: 100%;
    margin-right: 12.5rem;
    
    @include respond(tab-land){
        margin-right: 2rem !important;
    }

    @include respond(big-desktop){
        margin-right: 35rem !important;
    }


    &__link {
        text-decoration: none;
        font-size: 1.4rem;
        height: 100%;
        // font-family: 'Open Sans', sans-serif;
        padding: 0 1.5rem;
        color: currentColor;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &--glow:hover {
            background-color: var(--color-blue);
        }

    }


    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-blue-1);
    
        &-text {
            margin-left: .7rem;
        }
    }

     &__icon:hover{
        fill: white;
    }
}

//NEWS STORIES


.main-stories {
    margin:2rem 12.5rem 0 12.5rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-land){
        margin: 2rem 2rem 0 2rem;
    }

    @include respond(big-desktop){
        margin: 2rem 35rem 0 35rem;
    }
}

//COVER STORY BLOCK
.cover-story {

    position: relative;
    display: inline-block;  
    width: 61%;
    cursor: pointer;
    transition: all .3s;

    &__image{
        height: 40rem;
        width: 100%;
        opacity: 0.55;
        border-radius: 5px;
    }

    &__details{
        display: inline-block;

        position: absolute;
        height: auto;
        width: 95%;
        bottom: 2rem;
        word-wrap:break-word;
        left: 2rem;
        // overflow: auto;

        color:var(--color-white);

        &-headline {
            font-size: 2.8rem;
            font-weight: 600;
            letter-spacing: 1px;
        }

        &-author {
            margin-top: 0.5rem;
            font-size: 1.4rem;
            font-weight: 300;
        }
    }

    &:hover {
        transform: scale(1.02);
    }
}

//LATEST HEADLINES BLOCK
.latest-headlines{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;


    &__icons {
        height: 16%;
        background-color: var(--color-primary-dark);
        position: relative;
    }

    &__news {
        display: flex;
        flex-direction: column;
        // align-items: space-between;
        flex-grow: 1;
        
        &-block{
            display: flex;
            align-items: center;
            flex-grow: 1;
            cursor: pointer;


            &__pic {
                width: 8rem;
                border-radius: 6px;
                margin:0 2rem;
            }

            &__text {
                margin: 0 1rem 0 -1rem;
                font-size: 1.45rem;
                font-weight: 300;
                letter-spacing: 0.6px;
                color: var(--color-primary-light-4);
            }

            &:hover {
                background-color: var(--color-border);
            }
        }


    }
}

//MID PAGE NEWS BLOCK
.mid-page-block {
    border-bottom: .1px solid var(--color-border);
}

.editors-pick {
    margin:0 12.5rem 0 12.5rem;

    @include respond(tab-land){
        margin:0 2rem 0 2rem;
    }

    @include respond(big-desktop){
        margin:0 35rem 0 35rem;
    }

    &__icons {
        height: 6.5rem;
        position: relative;
        border-bottom: .1px solid var(--color-border);
    }

    &__story-identifier {
        margin-left: -2rem;
    }

    &__see-all-button {
        margin-right: -2rem;
    }

    &__news {
        height: 30rem;
        display: flex;
        margin: 2rem 0;

        &-card {
            background-color: var(--color-cards);
            border-radius: 7px;
            // margin: 2rem 0;
            height: 100%;
            width:20%;
            overflow: hidden;
            transition: all .2s;

            &:not(:first-child) {
                margin-left: 2rem;
            }
            
            &-image {
                height: 50%;
                width:100%;
                object-fit: cover;
            }

            &-text {
                color:white;
                margin: 2rem;
                font-weight: 300;
                font-size: 1.4rem;
                letter-spacing: 1px;
            }

            &:hover {
                transform: translateY(-5px);
            }
        }
    }

}

//BOTTOM PAGE BLOCK
.bottom-news-block {
}

.all-stories {
    margin: 0 12.5rem;
    margin-bottom: 2rem;

    @include respond(tab-land){
        margin:0 2rem 2rem 2rem;
    }

    @include respond(big-desktop){
        margin:0 35rem 2rem 35rem;
    }

    &__icons {
        height: 6.5rem;
        position: relative;
        border-bottom: .1px solid var(--color-border);
    }

    &__story-identifier {
        margin-left: -2rem;
    }

    &__news {
        display: flex;
        justify-content: space-between;

        &-left {
            width: 58%;
            // margin-top: 2rem;

            &-block{
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                
                padding: 2rem 0;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--color-border);
                }

            }

            &-image {
                height: 20rem;
                width: 20rem;
                border-radius: 7px;
                object-fit: cover;
            }

            &-text {
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                color: var(--color-white);

                &__headline {
                    font-size: 1.7rem;
                    font-weight: 300;

                    color: var(--color-headline);
                }

                &__tagline {
                    font-size: 1.4rem;
                    font-weight: 300;
                    margin-top: 2rem;

                    color: var(--color-tagline);
                }

                &__author {
                    margin-top: 1rem;
                    font-weight: 300;
                    font-size: 1.3rem;

                    color: var(--color-author);
                }
            }
        }


        &-right{
            display: flex;
            flex-direction: column;
            flex: 1;

            position: relative;
            
            margin-top: 2rem;
            margin-left: 2rem;
            width: 45%;
            background-color: #121212;
            border-radius: 7px;
            overflow: hidden;

            &-block{
                background-image: url(../img/all-stories-right-1.jpg);
                background-size: 100%;
                width: 100%;
                height: 15rem;
                opacity: .7;

                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #121212 100%);
                    width: 100%;
                    height: 15rem;
                    
                }
            }

            &-logo {
                position: absolute;
                font-size: 1.3rem;
                font-weight: 600;
                color:white;
                top:2.5rem;
                left: 2rem;
                background-color: #FFA20D;
                padding: 0.5rem 1.3rem;
                border-radius: 99px;
            }

            &-headlines {
                position: relative;
                height: auto;
                margin-top: -1rem;
                z-index: 10;      
                padding:0 4rem; 
                
                & > li:first-child{
                    color: var(--color-headline);
                    font-size: 2rem;
                }

                &-text{
                    
                    color: var(--color-tagline);
                    font-size: 1.5rem;
                    font-weight: 300;
                    padding-left: 2rem;
                    cursor: pointer;

                    &:hover{
                        background-color: var(--color-border);
                    }
                }

                &-time {
                    color: var(--color-tagline);
                    margin: 1.5rem 0 2rem;
                    // margin-left: 6rem;
                    // margin-top: 2rem;
                    font-size: 1.2rem;
                }
            }

            
        }



    }
}


//RESUABLE COMPONENTS
.story-identifier {
    display: flex;
    
    position: absolute;
    top: 1.5rem;
    left: 2rem;


    &__icon {
        &-block {
            display:flex;
            align-self: flex-start;

            background-color: #FFA20D;
            display: inline-block;
            border-radius: 5px;
        }

        &-svg {
            fill: var(--color-white);
            height: 3.5rem;
            width: 2rem;
            margin: -0.2rem 0.8rem;
        }
        
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 1rem;  
        // font-family: 'Open Sans', sans-serif;


        &-1 {
            color: var(--color-white);
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: -0.5rem;
        }

        &-2 {
            margin-top: 0.4rem;
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 1px;; 
            color: var(--color-white);

        }
    }
}

.see-all {
    border-radius: 7px;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.3rem 1rem;
    color: var(--color-white);


    cursor: pointer;

    background-color: #1F1F1F;
    opacity: 1;

    &__button {
        color: var(--color-white);
        font-size: 1.4rem;
    }

    &-tab {
        border-top: 1px solid var(--color-border);
        color: var(--color-white);


        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        cursor: pointer;

        &:hover {
            background-color: var(--color-border);
        }

        &__text {
            font-size: 1.2rem;
            font-weight: 300;
            padding-left: 6rem;


        }

        &__arrow {
            padding-right: 2rem;
            font-size: 1.3rem;
        }

    }
}


