/* 
COLORS
Primary - #000000
Primary Light - #121212

White - #FFFFFF

*/
:root {
  --color-primary: #000000;
  --color-primary-dark: #0D0D0D;
  --color-primary-light-1: #121212;
  --color-primary-light-2: #9E9E9E;
  --color-primary-light-3: #C5C5C5;
  --color-primary-light-4: #C9C9C9;
  --color-border: #171717;
  --color-white: #FFFFFF;
  --color-cards: #1E1E1E;
  --color-blue: #1F345D;
  --color-blue-1: #8E99AD;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  height: 5rem;
  margin: 3rem auto;
}

.date {
  color: var(--color-primary-light-2);
  font-size: 1.2rem;
  margin-top: -2rem;
  text-align: center;
}

.navbar {
  color: var(--color-primary-light-3);
  border-top: 0.1px solid var(--color-border);
  border-bottom: 0.1px solid var(--color-border);
}

.news-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex: 0 0 50%;
  margin-left: 12.5rem;
}

.news-nav__item {
  cursor: pointer;
}

.news-nav__link {
  text-decoration: none;
  color: currentColor;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 0.3rem;
  fill: var(--color-white);
}

.settings-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 15%;
  height: 100%;
  margin-right: 12.5rem;
}

.settings-nav__link {
  text-decoration: none;
  font-size: 1.4rem;
  height: 100%;
  padding: 0 1.5rem;
  color: currentColor;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-nav__link--glow:hover {
  background-color: var(--color-blue);
}

.settings-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-blue-1);
}

.settings-nav__icon-text {
  margin-left: .7rem;
}

.settings-nav__icon:hover {
  fill: white;
}

.main-stories {
  margin: 2rem 12.5rem 0 12.5rem;
  display: flex;
  justify-content: space-between;
}

.cover-story {
  position: relative;
  display: inline-block;
  width: 61%;
  transition: transform all 1s;
}

.cover-story__image {
  height: 40rem;
  width: 100%;
  opacity: 0.55;
  border-radius: 5px;
}

.cover-story__details {
  display: inline-block;
  position: absolute;
  height: auto;
  width: 95%;
  bottom: 2rem;
  word-wrap: break-word;
  left: 2rem;
  color: var(--color-white);
}

.cover-story__details-headline {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.cover-story__details-author {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.cover-story:hover {
  transform: scale(1);
}

.latest-headlines {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.latest-headlines__icons {
  height: 16%;
  background-color: var(--color-primary-dark);
  position: relative;
}

.latest-headlines__news {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex-grow: 1;
}

.latest-headlines__news-block {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.latest-headlines__news-block__pic {
  width: 8rem;
  border-radius: 6px;
  margin: 0 2rem;
}

.latest-headlines__news-block__text {
  margin: 0 1rem 0 -1rem;
  font-size: 1.45rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  color: var(--color-primary-light-4);
}

.editors-pick {
  margin: 0 12.5rem 0 12.5rem;
}

.editors-pick__icons {
  height: 6.5rem;
  position: relative;
  border-bottom: 0.1px solid var(--color-border);
}

.editors-pick__story-identifier {
  margin-left: -2rem;
}

.editors-pick__see-all-button {
  margin-right: -2rem;
}

.editors-pick__news {
  height: 30rem;
  display: flex;
}

.editors-pick__news-card {
  background-color: var(--color-cards);
  border-radius: 7px;
  margin: 2rem 0;
  height: 100%;
  width: 20%;
  overflow: hidden;
}

.editors-pick__news-card:not(:first-child) {
  margin-left: 2rem;
}

.editors-pick__news-card-image {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.editors-pick__news-card-text {
  color: white;
  margin: 2rem;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.story-identifier {
  display: flex;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.story-identifier__icon-block {
  display: flex;
  align-self: flex-start;
  background-color: #FFA20D;
  display: inline-block;
  border-radius: 5px;
}

.story-identifier__icon-svg {
  fill: var(--color-white);
  height: 3.5rem;
  width: 2rem;
  margin: -0.2rem 0.8rem;
}

.story-identifier__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.story-identifier__heading-1 {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -0.5rem;
}

.story-identifier__heading-2 {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-white);
}

.see-all {
  border-radius: 7px;
  display: inline-block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.3rem 1rem;
  background-color: #1F1F1F;
  opacity: 1;
}

.see-all .see-all__button {
  color: var(--color-white);
  font-size: 1.4rem;
}

.container {
  background-color: var(--color-primary);
  min-height: 120rem;
}

.header {
  height: 13rem;
  background-color: var(--color-primary-light-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--color-primary-light-1);
}

.news-stories {
  padding-bottom: 2rem;
  border-bottom: 0.1px solid var(--color-border);
}

.latest-headlines {
  width: 37.5%;
  height: 40rem;
  background-color: var(--color-primary-light-1);
}
/*# sourceMappingURL=main.css.map */